body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-size: 60px;
}

.orange-color{
    color: orange;
}

.top-banner{
    display: flex;
    background-image: url(images/top-banner.png);

}

.half-width{
    width: 50%;
    padding-left: 100px;
}

.half-width img{
    height: 400px;
    width: 400px;
    margin-top: 100px;
    border-radius: 20px;
    margin-left: 90px;
}
}

.half-width p{
    color: grey;
}

.hire-me{
    font-size: 20px;
    font-weight: 700px;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background-color: orange;
    border-radius: 5px;
    background-image: linear-gradient(tomato,orange);
}

#experience1{
    width: 50%;
    padding-left: 50px;
    border-left: 7px solid;
    border-image: linear-gradient(blue,purple);
    border-image-slice: 1;
    box-shadow: 20px;

    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 5px 5px 10px;
    border-radius: 10px; 
}

#experience2{
    width: 50%;
    padding-left: 50px;
    border-left: 7px solid;
    border-image: linear-gradient(tomato,yellow);
    border-image-slice: 1;
    box-shadow: 20px;

    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 5px 5px 10px;
    border-radius: 10px;  
}

#experience1 p{
    color: grey;
}

#experience2 p{
    color: grey;
}

footer{
    text-align: center;
}

footer p{
    margin-top: 150px;
    color: grey;
}
}